{
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "experimentalTernaries": true,
  "tabWidth": 4,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"]
}
